<!DOCTYPE html>

<html lang="es">

<body>
<wicket:extend>

    <form wicket:id="passwordForm">

        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <fieldset>

                    <div class="form-group">
                        <label>Usuario *</label>
                        <input wicket:id="login" class="form-control" type="text">
                        <div wicket:id="loginFeedback"></div>
                    </div>

                    <div class="form-group">
                        <label>Contraseña anterior *</label>
                        <input wicket:id="password" class="form-control" type="password">
                        <div wicket:id="passwordFeedback"></div>
                    </div>

                    <div class="form-group">
                        <label>Nueva contraseña (Max. 15) *</label>
                        <input wicket:id="newPassword" class="form-control" type="password">
                        <div wicket:id="newPasswordFeedback"></div>
                    </div>

                    <div class="btn-group">
                        <button wicket:id="confirmar" class="btn btn-primary">Confirmar</button>
                    </div>
                </fieldset>
            </div>

        </div>

    </form>

</wicket:extend>
</body>
</html>