<!DOCTYPE html>

<html lang="es">

<body>
<wicket:extend>

    <form wicket:id="trabajarConNovedadForm">

        <div class="page-title clearfix">
            <h1 class="header">Detalles de la Novedad </h1>
            <div class="text-right">
                <a wicket:id="linkVolver">Volver al listado de novedades</a>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <fieldset class="campos">

                    <div class="form-group">
                        <label>Fecha de creación</label>
                        <input wicket:id="fechaCreacion" class="form-control" type="text">
                        <div wicket:id="fechaCreacionFeedback"></div>
                    </div>

                    <div class="form-group">
                        <label>Id Novedad</label>
                        <input wicket:id="uuidNovedad" class="form-control" type="text">
                        <div wicket:id="uuidNovedadFeedback"></div>
                    </div>

                    <div class="form-group">
                        <label>Productor</label>
                        <input wicket:id="nombreProductor" class="form-control" type="text">
                        <div wicket:id="nombreProductorFeedback"></div>
                    </div>

                    <div class="form-group">
                        <label>Tópico</label>
                        <input wicket:id="nombreTopico" class="form-control" type="text">
                        <div wicket:id="nombreTopicoFeedback"></div>
                    </div>

                    <div class="form-group">
                        <label>XML</label>
                        <textarea wicket:id="xmlContenido" class="form-control" rows="10" cols="40"></textarea>
                        <div wicket:id="xmlContenidoFeedback"></div>
                    </div>

                </fieldset>
            </div>

        </div>


        <div class="page-title clearfix">
            <h1 class="header">Entregas</h1>
        </div>

        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Suscriptor</th>
                <th>Estado</th>
            </tr>
            </thead>
            <tbody>
            <tr wicket:id="rowsEnt">
                <td wicket:id="dataRowEnt"></td>
            </tr>
            </tbody>
        </table>

    </form>

</wicket:extend>
</body>
</html>